@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">

        <a asp-area="Admin" asp-controller="Blog" asp-action="Add" class="d-flex justify-content-end">
            <button class="btn btn-primary mb-1">Add Blog</button>
        </a>

        <div class="card-title">
            <h4>Blogs</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Categories</th>
                        <th>Created Time</th>
                        <th>Created By</th>
                        <th>Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>
                                @foreach (var category in item.Categories)
                                {
                                    @category.Category.Name
                                    <br />
                                }
                            </td>
                            <td>@item.CreatedAt.ToShortDateString()</td>
                            <td>@item.CreatedBy</td>
                            <td>
                                @if (item.IsDeleted)
                                {
                                    <span class="badge badge-danger px-2" style="font-size:90%">Passive</span>
                                }
                                else
                                {
                                    <span class="badge badge-success px-2 text-white" style="font-size:90%">Active</span>
                                }
                            </td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Blog" asp-action="Update" asp-route-blogId="@item.Id">
                                    <button type="button" class="btn mb-1 btn-warning text-white">Update</button>
                                </a>
                                <a asp-area="Admin" asp-controller="Blog" asp-action="Delete" asp-route-blogId="@item.Id">
                                    <button type="button" class="btn mb-1 btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
</div>